.button {
  background-color: transparent;
  color: var(--color-on-surface);

  position: relative;
  overflow: auto;

  padding: 0.5rem 1rem;

  border: none;

  scale: 1;

  font-size: 1.5rem;
  font-weight: 700;

  text-align: center;
  text-transform: uppercase;

  transition: 500ms cubic-bezier(0.16, 1, 0.3, 1);
  transition-property: background-color, color, border-color, scale;

  cursor: pointer;

  &:hover {
    scale: 1.1;

    transition-duration: 250ms;
  }

  .frame {
    position: absolute;
    inset: 0;
    z-index: -1;

    block-size: 100%;
    inline-size: 100%;
  }
}
