.input {
  input {
    background-color: transparent;

    block-size: clamp(2rem, -0.25rem + 3vw, 2.75rem);
    inline-size: 100%;

    border: none;

    font-size: clamp(1rem, -0.5rem + 2vw, 1.5rem);

    &:focus {
      outline: none;
    }
  }
}
