.auth {
  display: grid;

  min-block-size: 100dvh;

  .pane {
    inline-size: fit-content;

    margin: auto;

    .logo {
      color: var(--color-text-disabled);

      margin-block: 0.25rem 2.25rem;

      font-size: 1.25rem;
      font-weight: 700;

      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1rem;
      line-height: 1;
    }

    form {
      display: grid;
      grid-template-areas: "fields fields" "checkbox link" "button button";
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 1rem;

      .fields {
        grid-area: fields;

        background-color: var(--color-surface-400);

        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;

        width: 100%;

        padding: 1.25rem 2.25rem;

        border: 3px solid var(--color-primary);

        label {
          display: flex;
          align-items: center;
          gap: 1rem;

          inline-size: 100%;

          .title {
            flex-shrink: 0;

            font-size: clamp(1rem, -0.5rem + 2vw, 1.5rem);

            text-transform: uppercase;
            letter-spacing: 0.1em;
          }

          .input {
            flex: 0 1 15rem;
          }
        }
      }

      .checkbox {
        grid-area: checkbox;

        margin-inline-start: 1.25rem;
      }

      a {
        grid-area: link;

        margin-inline-end: 1.25rem;
      }

      button {
        grid-area: button;
        justify-self: center;

        inline-size: 12rem;

        margin-block-start: 1rem;
      }
    }
  }
}

@media (width < 600px) {
  .auth {
    .pane {
      form {
        .fields {
          background: none;

          padding: 0;

          border: none;
        }

        .checkbox {
          margin-inline-start: 0;
        }

        a {
          margin-inline-end: 0;
        }
      }
    }
  }
}
