aside {
  #buffer {
    --border: 1px solid hsl(0deg 0% 20%);

    display: grid;
    grid-auto-flow: column;
    justify-content: center;

    min-block-size: 3rem;

    .item {
      display: grid;
      place-content: center;

      aspect-ratio: 1 / 1;

      border: var(--border);

      &:not(:last-of-type) {
        border-inline-end: none;
      }
    }
  }
}
