.home {
  display: grid;

  min-block-size: 100dvh;

  .pane {
    inline-size: min(45rem, 100%);

    margin: auto;

    .username {
      background-clip: content-box;
      background-color: hsl(0deg 0% 0% / 40%);
      color: var(--color-primary);

      margin-block-end: 2rem;

      border-inline: 4px solid transparent;

      font-family: Doto, sans-serif;
      font-size: 1.5rem;
      font-weight: 700;

      text-align: center;
      line-height: 1.5;

      .prefix {
        text-transform: uppercase;
      }
    }

    .menu {
      display: grid;
      gap: 1.5rem;

      inline-size: min(20rem, 100%);

      margin-inline: auto;
    }
  }
}

@media (width <= 600px) {
  .home {
    block-size: auto;
    inline-size: auto;

    border: 4px solid hsl(222deg 100% 59% / 100%);
    border-radius: 3px;
  }

  .pane {
    block-size: min(30.75rem, 100%);
    inline-size: min(21rem, 100%);
  }
}
