.sign-up {
  display: grid;
  place-content: center;

  min-block-size: 100dvh;

  padding-block-start: 2rem;

  .pane {
    max-inline-size: 37.5rem;

    .logo {
      color: var(--color-on-disabled);

      margin-block: 0.25rem 2.25rem;

      font-size: 1.25rem;
      font-weight: 700;

      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1rem;
      line-height: 1;
    }

    form {
      display: grid;
      grid-template-areas: "fields fields" "checkbox link" "button button";
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 1rem;

      .fields {
        grid-area: fields;

        background-color: color-mix(
          in hsl,
          var(--color-primary) 20%,
          transparent
        );

        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;

        width: 100%;

        padding: 1.25rem 2.25rem;

        border: 3px solid
          color-mix(in hsl, var(--color-primary) 30%, transparent);
        border-radius: 3px;

        label {
          display: flex;
          align-items: center;
          gap: 1rem;

          font-size: 1.5rem;

          text-transform: uppercase;
          letter-spacing: 0.1em;

          .input {
            flex: 1 1 0;
          }
        }
      }

      .checkbox {
        grid-area: checkbox;

        margin-inline-start: 1.25rem;
      }

      a {
        grid-area: link;

        margin-inline-end: 1.25rem;
      }

      button {
        grid-area: button;
        justify-self: center;

        inline-size: 12rem;

        margin-block-start: 1rem;
      }
    }
  }
}
