.guide-page {
  display: grid;
  place-content: center;

  min-block-size: 100dvh;

  .guide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .navigation-keys,
    .pause-game,
    .move-with-touch,
    .esc-key {
      display: grid;
      gap: 1rem;

      img {
        align-self: center;
        justify-self: center;
      }

      span {
        align-self: center;
        justify-self: center;

        background-color: hsl(0deg 0% 85% / 100%);
        color: hsl(0deg 0% 0% / 100%);

        font-size: 2rem;
        font-weight: 700;

        text-align: center;
      }
    }

    .button {
      grid-column: 1 / -1;
      align-self: center;
      justify-self: center;

      inline-size: min-content;
    }

    .move-with-touch,
    .esc-key {
      grid-template-columns: 1fr 1fr;
    }
  }
}
