.settings-modal {
  inline-size: 40rem;

  .message {
    color: var(--color-on-surface);

    margin: 1rem 0;

    font-size: 1.2rem;

    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    padding: 2rem 3rem 1.5rem;

    .sliders-section {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .slider-row {
        display: flex;
        align-items: center;
        gap: 2rem;

        .label {
          min-width: 6rem;

          font-size: 1.3rem;
          font-weight: 700;

          text-align: right;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 2rem;

      margin-inline: auto;

      button {
        min-inline-size: 8rem;
      }
    }
  }
}
