.modal {
  background-color: transparent;

  inline-size: 100%;

  margin: auto;

  border: none;

  outline: none;

  &::backdrop {
    background-color: var(--color-overlay-300);

    backdrop-filter: blur(5px);
  }
}
