.settings {
  display: grid;
  place-content: center;

  min-block-size: 100vh;

  .pane {
    max-inline-size: 97rem;

    .content {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      padding: 3rem 6rem 2rem;

      .element {
        display: flex;
        align-items: center;
        gap: 4rem;

        label {
          inline-size: 6.25rem;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 3rem;

        margin-inline: auto;
      }
    }
  }
}
