.pane {
  --offset: 0;
  --row-height: calc(var(--offset, 0) * 1px);

  backdrop-filter: blur(5px);

  position: relative;
  isolation: isolate;

  display: grid;
  grid-template-rows: auto 1fr var(--row-height);

  margin-inline: auto;

  .frame,
  .shade {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    position: absolute;
    inset: 0;

    block-size: 100%;
    inline-size: 100%;
  }

  .frame {
    z-index: -2;
  }

  .shade {
    z-index: -1;

    padding: 2rem;
  }

  .title {
    align-self: end;
    justify-self: center;

    text-shadow: 0 0 38px var(--color-primary);

    inline-size: fit-content;

    translate: 0 calc(var(--row-height) - 0.5rem);

    font-size: clamp(2rem, -1rem + 4vw, 3rem);
    font-weight: 900;

    text-transform: uppercase;
  }

  .content {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
  }

  &:where(:not(:has(.shade))) {
    .content {
      padding: 4rem 3rem;
    }
  }

  &:where(:has(.shade)) {
    .content {
      padding: 6rem 5rem;
    }
  }
}

@media (width < 600px) {
  .pane {
    padding-block-start: 2rem;

    .shade {
      padding: 0;
    }

    .title {
      translate: 0 -2rem;
    }

    .content {
      padding: 2rem;
    }
  }
}
