.user {
  display: grid;
  place-content: center;

  min-block-size: 100dvh;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .img {
    block-size: 23.5rem;
    inline-size: 23.5rem;

    border-radius: 999rem;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    block-size: 3rem;
    inline-size: 29rem;
  }
}
