.user {
  display: grid;

  min-block-size: 100dvh;

  .pane {
    inline-size: min(80rem, 100%);

    margin: auto;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      padding-inline: 6rem;
    }
  }

  .img {
    max-block-size: 23.5rem;
    max-inline-size: 23.5rem;

    border: 4px solid hsl(222deg 100% 60%);
    border-radius: 999rem;
  }

  .button {
    display: block;

    margin-inline: auto;
  }

  .bold {
    font-weight: 700;
  }
}
