.bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 2rem;

  .score {
    translate: 0 1rem;
  }

  .wrapper {
    display: flex;
    align-items: center;

    > :not(button) {
      margin-inline: auto;
    }
  }

  .separator {
    grid-column: 1 / -1;

    min-inline-size: 100%;
    inline-size: 0;

    margin-block-end: 2rem;
  }
}
