.modal-frame {
  .perimeter {
    fill: color-mix(in hsl, var(--color-primary) 50%, transparent);

    backdrop-filter: blur(2rem);

    stroke: var(--color-primary);
    stroke-width: 1px;
  }

  .corner {
    stroke: var(--color-primary);
  }
}
