.leaderboard {
  display: grid;

  min-block-size: 100dvh;

  .pane {
    inline-size: min(clamp(60rem, 0rem + 80vw, 80rem), 100%);

    margin: auto;

    .content {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: clamp(1rem, -5rem + 8vw, 3rem);

      .actions {
        display: flex;
        justify-content: center;

        button {
          min-inline-size: clamp(7.5rem, 0rem + 10vw, 10rem);
        }
      }
    }
  }
}
