.pause-button {
  background-color: var(--color-surface-200);

  display: grid;
  place-items: center;

  block-size: 4rem;
  inline-size: 4.5rem;

  border: none;
  border-radius: 1rem;

  cursor: pointer;

  svg {
    font-size: 2rem;
  }
}
