.message {
  text-align: center;
}

.game-over-modal {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  inline-size: 98rem;

  padding: 3rem 6.5rem 2.25rem;
}

.ribbon-content {
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: space-around;

  block-size: 2.5rem;

  margin-block: 2rem;

  font-size: 3rem;
}

.actions {
  display: flex;
  gap: 3rem;

  margin-inline: auto;
}

.button {
  min-inline-size: 10.5rem;
}
