.game-over-modal {
  inline-size: 98rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    padding: 3rem 6rem 2rem;

    .ribbon {
      display: flex;
      align-items: center;
      justify-content: space-around;

      min-block-size: 6rem;

      font-size: 3rem;
    }

    .actions {
      display: flex;
      gap: 3rem;

      margin-inline: auto;
    }

    button {
      min-inline-size: 10rem;
    }
  }
}

.message {
  text-align: center;
}
