.link-button {
  display: inline-block;

  border: var(--border-width) solid currentcolor;

  scale: 1;

  clip-path: polygon(
    0 0,
    var(--horizontal-offset) 0,
    var(--horizontal-offset) var(--vertical-offset),
    calc(100% - var(--horizontal-offset)) var(--vertical-offset),
    calc(100% - var(--horizontal-offset)) 0,
    100% 0,
    100% 100%,
    calc(100% - var(--horizontal-offset)) 100%,
    calc(100% - var(--horizontal-offset)) calc(100% - var(--vertical-offset)),
    var(--horizontal-offset) calc(100% - var(--vertical-offset)),
    var(--horizontal-offset) 100%,
    0 100%
  );

  font-weight: 700;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.5;

  transition: 500ms cubic-bezier(0.16, 1, 0.3, 1);
  transition-property: background-color, color, border-color, scale;

  &.default {
    background-color: hsl(0deg 0% 44% / 24%);
    color: hsl(0deg 0% 44%);
  }

  &.light {
    background-color: hsl(0deg 0% 100% / 4%);
    color: var(--color-on-surface);
  }

  &.large {
    --border-width: 4px;
    --horizontal-offset: 10px;
    --vertical-offset: calc(var(--border-width) + 1px);

    padding: 1rem;

    font-size: 1.75rem;
  }

  &.small {
    --border-width: 1px;
    --horizontal-offset: 10px;
    --vertical-offset: calc(var(--border-width) + 1px);

    padding-inline: 1rem;

    font-size: 1.5rem;
  }

  &:hover {
    background-color: hsl(222deg 100% 59% / 40%);
    color: var(--color-on-surface);

    scale: 1.1;

    transition-duration: 250ms;
  }
}
