.table {
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    font-size: 1.5rem;

    .cell {
      padding: 0.5rem;
    }
  }

  .head {
    .row {
      background-color: var(--color-surface-300);

      font-weight: 700;
    }
  }

  .body {
    overflow: auto;

    display: grid;
    gap: 0.5rem;

    max-block-size: 20rem;

    .row {
      background-color: var(--color-surface-100);

      font-weight: 500;
    }
  }
}
