*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
  caret-color: var(--color-primary);

  accent-color: var(--color-primary);
}

body {
  color: var(--color-on-surface);
}
