.button-frame {
  .perimeter {
    stroke: var(--color-primary);
    stroke-width: 2px;
  }

  &.primary {
    .perimeter {
      fill: var(--color-surface-700);
    }
  }

  &.secondary {
    .perimeter {
      fill: var(--color-surface-200);
    }
  }
}
