.settings {
  display: grid;
  place-content: center;

  min-block-size: 100vh;
  inline-size: 98rem;

  .pane {
    max-inline-size: 97rem;

    .content {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;

      padding: 3rem 6rem 2rem;

      .element {
        display: flex;
        align-items: center;
        gap: 4rem;

        label {
          width: 100px;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 3rem;

        margin-inline: auto;
      }
    }
  }
}
