.slider {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .buttons {
    display: flex;
    gap: 0.25rem;

    .button {
      --size: clamp(0.75rem, 0rem + 1vw, 1rem);

      background-color: var(--color-overlay-300);

      block-size: var(--size);
      inline-size: var(--size);

      border: none;

      transform: skewX(-30deg);

      cursor: pointer;

      &:where(:has(~ &.hover)),
      &.hover {
        background-color: var(--color-overlay-50);
      }

      &.active {
        background-color: var(--color-text-400);
      }

      &.hover ~ .active {
        background-color: var(--color-overlay-50);
      }
    }
  }

  .value {
    position: relative;
    isolation: isolate;

    display: grid;
    place-content: center;

    block-size: clamp(2rem, -1rem + 4vw, 3rem);
    aspect-ratio: 1;

    font-size: clamp(0.75rem, 0rem + 1vw, 1rem);

    .frame {
      position: absolute;
      inset: 0;
      z-index: -1;

      block-size: 100%;
      inline-size: 100%;
    }
  }
}
