.high-score {
  display: grid;
  place-items: center;

  inline-size: fit-content;

  font-family: "Digital Numbers", sans-serif;

  .frame,
  .value {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .frame {
    block-size: 3.5rem;
    min-inline-size: 100%;
    inline-size: 0;
  }

  .value {
    overflow: hidden;

    max-inline-size: 5ch;

    font-size: 2rem;

    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
}
